<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="weatherApp">
<head>
    <title>Test Website</title>
    <link href="Stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="Stylesheets/style.css" rel="stylesheet" />
    <script src="Scripts/angular/angular.js"></script>
    <script src="Scripts/angular/angular-route.js"></script>
    <script src="Scripts/angular/angular-resource.js"></script>
    <script src="Scripts/angular/ngStorage.js"></script>
    <script src="Scripts/angular/angular-messages.js"></script>
    <script src="app.js"></script>
    <script src="Scripts/weather.js"></script>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <nav class="navbar navbar-inverse" ng-init="navbarCollapsed=true">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                    <span class="glyphicon glyphicon-menu-hamburger white"></span>
                </button>
            </div>
            <div class="navbar-collapse" ng-class="{collapse: navbarCollapsed}" ng-click="navbarCollapsed=true">
                <ul class="nav navbar-nav">
                    <li><a href="#/about"><i class="glyphicon glyphicon-home"></i>About</a></li>
                    <li><a href="#/weather"><i class="glyphicon glyphicon-cloud"></i>Weather</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div ng-view></div>
        </div>
    </div>
</body>
</html>
