<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="weatherApp" ng-controller="weatherCtrl">
<head>
    <title>Weather App</title>
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />
    <script src="javascripts/angular/angular.js"></script>
    <script src="javascripts/angular/angular-resource.js"></script>
    <script src="javascripts/angular/ngStorage.js"></script>
    <script src="javascripts/angular/angular-messages.js"></script>
    <script src="javascripts/weather.js"></script>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="container-fluid">
    <nav class="navbar navbar-inverse" ng-init="navbarCollapsed=true">
        <div class="navbar-header">
            <a class="navbar-brand" href="/about"> <i class="glyphicon glyphicon-home"></i>About</a>
                <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                    <span class="glyphicon glyphicon-menu-hamburger white"></span>
                </button>
        </div>
        <div class="navbar-collapse" ng-class="{collapse: navbarCollapsed}" ng-click="navbarCollapsed=true">
            <ul class="nav navbar-nav">
                <li><a href="/about"><i class="glyphicon glyphicon-plus"></i>About</a></li>
                <li><a href="/javascripts"><i class="glyphicon glyphicon-cog"></i>Weather</a></li>
            </ul>
          </div>
        </div>
    </nav>
</body>
</html>
