<h4>This is a mobile-friendly sample website</h4> 
<p>If you shrink the browser or browse the website in mobile phone, you will see the hamburger menu. The links go to the offical websites, not my personal pages.</p>
<p>The <span class="text-success">Weather</span> shows a web app. You can type in a place name like "Christchurch", the app would give you several options 
    about all the places called Christchurch in the world. To click a place, and you will see the local live weather forecast. The display of data would change according to the screen size.</p>
<a href="https://www.twitter.com"><img id="twitter" src="Images/twitter.jpg" alt="twitter" /></a>
<a href="https://www.facebook.com"><img id="facebook" src="Images/facebook.png" alt="facebook" /></a>
