<h4>This is a mobile-friendly sample website</h4> 
<p>If you shrink the browser or browse the website in mobile phone, you will see the hamburger menu. The icon below goes to the offical websites, not my personal page.</p>
<p>The <span class="text-success">Weather</span> shows a web app. You can type in a place name like "Christchurch", the app would give you several options 
    about all the places called Christchurch in the world. To click a place, and you will see the local live weather forecast. The display of data would change according to the screen size.</p>

<a href="https://www.facebook.com"><img id="facebook" src="images/facebook.png" alt="facebook" /></a>
